
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy una diseñadora gráfica con 5 años de experiencia en el campo del diseño. 
                Me encanta crear soluciones visuales e interactivas para negorcios que quieren mejorar 
                su imagen y su comunicación con sus clientes. 
                He trabajado en proyectos de branding, ilistración, animación para diferentes sectores e industrias.</p>
        </span>
    </div>
</div>

