<div class="row">
    <h2>Experiencia Laboral</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            
            <h3>SEDI-Gráfica</h3> - <h4>2018-2019</h4>
            
            <p>
                Mi primer trabajo fue en una imprenta como diseñadora gráfica cuando 
                terminé mis estudios de diseño gráfico y encontré una oferta de trabajo en una 
                imprenta. Me contrataron para hacer el diseño de folletos, carteles, tarjetas, 
                logos y otros materiales impresos para diferentes clientes. Me gustaba mucho el 
                trabajo porque me permitía aplicar mis conocimientos de diseño gráfico y 
                aprender sobre el proceso de impresión. Aprendí mucho en ese trabajo sobre el 
                diseño gráfico aplicado a la imprenta, las técnicas de impresión, los formatos, 
                los colores y las tipografías.
            </p>
        </ul>
        <ul>
            
                <h3>Freelance Grafica </h3> - <h4>2020-2023</h4>
            
            <p>
                Me anime a ser freelancer gráfica cuando decidí dejar mi trabajo en la 
                imprenta y buscar más libertad y flexibilidad en mi carrera. 
                Empecé a ofrecer mis servicios de diseño gráfico a través de plataformas 
                online y redes sociales. Al principio fue difícil conseguir clientes y 
                proyectos, pero poco a poco fui creando mi portfolio y mi reputación. 
                Me gustaba mucho el trabajo de freelancer gráfica porque me permitía 
                elegir los proyectos que me interesaban y trabajar desde casa o desde 
                cualquier lugar. Aprendí mucho en ese trabajo sobre el diseño gráfico 
                adaptado a diferentes medios y necesidades, las herramientas digitales, 
                el marketing personal y la gestión de clientes. 
            </p>
        </ul>
        
    </div>
</div>
