<div class="row">
    <h2>Educacion</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            
                <h3>Coursera - Diseño Grafico</h3> - <h4>2018</h4>
            
            <p>
                Estudié diseño gráfico porque me gustaba dibujar y crear cosas con el ordenador. 
                Luego estudié diseño gráfico en Coursera y aprendí mucho sobre los principios, las técnicas y 
                las herramientas del diseño. Desde entonces he trabajado en diferentes proyectos de diseño gráfico 
                para diferentes clientes y sectores. Me gusta mucho el diseño gráfico porque me permite expresar 
                mi creatividad y comunicar ideas de forma visual. 
            </p>
        </ul>
        <ul>
            
                <h3>Argentina Programa - Desarollo Web Full Strack</h3> - <h4>2022-2023</h4>
            
            <p>
                Inicié en el desarrollo web full stack cuando me interesé por crear 
                páginas web dinámicas y funcionales. Veia videos por YouTube por mi cuenta 
                hasta que tube la oportunidade de hacer el curse de Argentina Programa. 
                Vi los lenguajes y tecnologías necesarios para desarrollar tanto el front-end 
                como el back-end de una web, como HTML, CSS, JavaScript, MySQL, etc. 
                Luego hice algunos cursos online. Estoy trabajado en diferentes proyectos de 
                desarrollo web full stack. Me gusta mucho el desarrollo, me queda un largo camino 
                de estudio y dedicación.
            </p>
        </ul>
        <ul>
            
                <h3>MindHub - FrontEnd</h3> - <h4>2023</h4>
            
            <p>
                Curse FrontEnd en MindHub porque quería mejorar mis habilidades en el desarollo web.
            </p>
        </ul>
    </div>
</div>

